/* @font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
} */
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.contain{
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
}
ul{
  list-style: none;
  color: black;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
.header{
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header .container1{
  width: 1056px;
  margin: 0 auto;
}
.header .navigation{
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.header .navigation .link{
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.header .navigation .list_2{
  padding-right: 60px;
}
.header .navigation .list_3{
  padding-left: 60px;
}
.header .navigation .link:hover,
.header .navigation .link:focus{
  color: #81b3d2;
}
.header .navigation .link:active{
  opacity: 0.3;
  color:black;
}
.header .navigation .link.sorved{
  color: #766357;
}
.header .logo{
  display: inline-block;
  position: relative;
  top: -46px;
  left: 462px;
}
.header .img__back{
  width: 1200px;
  margin: 0 auto;
  margin-top: -60px;
}
.header .text-on-background{
  display: block;
  position: relative;
}
.header .text-on-background .title{
  position: absolute;
  bottom: 120px;
  left: 380px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.header .text-on-background .discription{
  position: absolute;
  line-height: 26px;
  bottom: 55px;
  left: 355px;
}

.main .real_town .container,
.main .bridge .container{
  width: 1200px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.real_town .discription,
.bridge .discription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  color: white;
  padding: 0 40px;
  text-transform: uppercase;
  text-align: center;
}
.real_town .discription .title,
.bridge .discription .title{
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 20px;
}
.real_town .discription .discript,
.beidge .discription .discript{
  margin-top: 20px;
}
.main .list__featches .container ul,
.main .attractions .container ul{
  width: 1200px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.main .list__featches{
  margin-top: 60px;
  margin-bottom: 85px;
}
.list__featches .list,
.attractions .list{
  width: 400px;
  padding: 0 65px;
  color: #333333;
}

.list__featches .list{
  padding: 0 50px !important;
}
.attractions .container{
  background-color: #eeeeee;
}
.list__featches .text,
.attractions .text{
  margin-top: 30px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 25px;
}
.attractions .text{
  margin-top: 25px;
  margin-top: 60px;
}
.attractions .description{
  margin-bottom: 60px;
}
.main .interested{
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.interested .title{
  font-size: 30px;
  line-height: 36px;
  margin-top: 50px;
}
.interested .discription{
  line-height: 26px;
  margin-top: 32px;
}
.interested .button{
  border: none;
  background-color: #766357;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  padding: 17px 141px;
  margin-top: 50px;
  cursor: pointer;
  font-size: 21px;
  line-height: 26px;
}
.interested .button:hover,
.interested .button:focus{
  background-color: #604e43;
}
.interested .button:active{
  background-color: #503e33;
  color: #857871;
}
.cont{
  height: 0;
}
.footer{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
  position: relative;
  bottom: 120px;
  opacity: 0.9;

}
.footer .hash,
.footer .Mysik{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer .icon__list{
  width: 150px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .icon{
  background-color: #81b3d2;
  padding: 13px 14px;
}
.footer .icon:hover,
.footer .icon:focus{
  background-color: #669ec0;
}
.footer .icon:active{
  background-color: #5496bd;
  fill:#88b6d1;
}
.footer .icon__list .twitter{
  padding: 16px 14px 13px 15px;
}
.footer .icon__list .facebook{
  padding: 12px 17px 10px 17px;;
}
.footer .Mysik{
  color: black;
}
.footer .Mysik:hover,
.footer .Mysik:focus,
.footer .hash:hover,
.footer .hash:focus{
 color: #669ec0;
}
.footer .Mysik:active,
.footer .hash:active{
  opacity: 0.5;
}
.footer .icon__list .youtube{
  padding: 14px 14px 14px;
}



.write-us{
    display: block;
    width: 574px;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 319px;
}
.write-us .container{
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding: 55px 60px;
}
.write-us .container .date{
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}
.write-us .container .input{
  width: 345px;
  box-sizing: border-box;
  padding: 13px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
}
.write-us .container .input:hover,
.write-us .con input:hover{
  background-color: #ebebeb;
  border: 2px solid transparent;
}
.write-us .container .input:focus,
.write-us .con input:focus{
  background-color: white;
  border: 2px solid #e5e5e5;
  outline: none;
}
.write-us .icon__calendar{
    position: absolute;
    width: 37px;
    height: 38px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
    opacity: 0.3;
    cursor: pointer;
}
.write-us .icon__calendar:hover{
  opacity: 1;
}
.write-us .container .input::placeholder{
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.write-us .container .con{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

}
.write-us .container .search{
  display: inline-block;
  margin-top: 52px;
  font-size: 21px;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  font-weight: bold;
  color: white;
  padding: 16px 0 17px;
  cursor: pointer;
}
.write-us .container .search:hover,
.write-us .container .search:focus{
  background-color: #669ec0;
}
.write-us .container .search:active{
  background-color: #5496bd;
  color:#88b6d1;
}

.write-us .con input{
  display: inline-block;
  width: 115px;
  box-sizing: border-box;
  margin-left: 27px;
  background-color: #f2f2f2;
  border: none;
  padding: 8px;
  border: 2px solid transparent;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
}

.write-us .con input:focus + .minus{
  border-right: 2px solid #e5e5e5;
}
.write-us .con input:focus +  .minus + .plus{
  border-left: 2px solid #e5e5e5;
}

.write-us .con .text{
  position: relative;
}
.write-us .con .minus,
.write-us .con .plus{
  position: absolute;
  padding: 8px;
  top: 0;
  right: 0px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #a9a9a9;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.write-us .con .minus{
  right: 81px;
  z-index: 1;
  font-size: 40px;
}
.write-us .con .minus:hover,
.write-us .con .plus:hover,
.write-us .con .minus:focus,
.write-us .con .plus:focus{
  opacity: 1;
  border: 2px solid #e5e5e5;
}
.write-us .con .minus:active,
.write-us .con .plus:active{
  color: #81b3d2;
}
.noindex-header .navigation{
  padding-bottom: 5px;
}
.noindex-header{
  margin-bottom: -65px;
}
.noindex-header .logo{
  top: -52px;
}

.main__hotels .form_input{
  background-image: url("../img/background_hostel.jpg");
}
.form_input .form{
  width: 1056px;
  margin: 0 auto;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
.form .section__form1{
  margin-right: 25px !important;
}
/* .form .section__form2{
}
.form .section__form3{
} */
.form .section__form{
  border: none;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.form .section__form .title{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 30px;
}
.form .section__form label{
  padding-left: 37px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
.form .section__form label:last-child{
  margin-bottom: 50px;
}
.form .section__form .checkbox{
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.section__form .check__box{
   opacity: 0.7;
   position: absolute;
   width: 27px;
   height: 23px;
   background-image: url("../img/checkbox-off.svg");
   background-repeat: no-repeat;
   /* background-position: center; */
   left: -2px;
}
.form .section__form .checkbox:checked + .check__box{
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.7;
}
.section__form label:hover > .check__box,
.form .section__form .checkbox:checked:hover + .check__box{
  opacity: 1;
}
.form .section__form3 .value{
  display: flex;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  border: 2px solid white;
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
}
.section__form3 .value::after{
  content: "";
  position: absolute;
  height: 22px;
  width: 2px;
  background-color: white;
  right: 50%;

}
.form .section__form3 .line{
  position: relative;
  top: 20px;
  left: 2px;
  width: 98%;
  height: 2px;
  background-color: white;
  background: linear-gradient(to right,  white 77%, #7a7778 77%);
}
.form .section__form3 .line::before,
.form .section__form3 .line::after{
  content: "";
  position: absolute;
  width: 22px;
  height: 25px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  top: -10px;
  cursor: pointer;
}

.form .section__form3 .line::before{
  left: -1px;
}
.form .section__form3 .line::after{
  right: 74px;
}
.form .section__form3 .line::before:hover,
.form .section__form3 .line:hover::after{
  background-image: url(../img/filter-button-hover.svg);
}
.form .section__form3 .button{
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 35px;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 3px;
  cursor: pointer;
}
.form .section__form3 .button:hover{
  color: black;
  background-color: white;
}
.search__result .line{
  position: relative;
}
.search__result .line::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  /* bottom: 0; */
}
.search__result .head{
  width: 1056px;
  margin: 0 auto;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 28px;
  position: relative;
}
.search__result .result{
  margin-right: 50px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.search__result .sort{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
}
.search__result .sort .list{
  margin-right: 35px;
  color: black;
  font-weight: 700;
}
.search__result .sort .link{
  color: #dadada;
  border-bottom: 1px dotted #81b3d2;
}

.search__result .sort .active{
  color: #81b3d2;
  border-color: transparent;
}
.search__result .sort .link:hover,
.search__result .sort .link:focus{
  color: #81b3d2;
}
.search__result .sort .link:active{
  border-color: transparent;
  color: black;
}
.search__result .icon{
  position: absolute;
  right: 0;
  top: 30px;
  width: 11px;
  height: 10px;
  opacity: 0.3;
  cursor: pointer;
}
.search__result .icon.icon_down{
  background-image: url(../img/icon-down-dir.svg);
}

.search__result .icon.icon_up{
  background-image: url(../img/icon-up-dir.svg);
  right: 23px;
}
.search__result .icon.icon_down:hover,
.search__result .icon.icon_down:focus,
.search__result .icon.icon_up:hover,
.search__result .icon.icon_up:focus{
  opacity: 1;
}

.footer.noindex{
  position: relative;
  bottom: 0;
}
